body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-logo{
mix-blend-mode: multiply;
  width: 200px;
}

header{
background-color : #C1C1C1; 
}

.nav{
  
  display: flex;
  justify-content : space-between;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  border-style:hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.nav-items{
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding:10px;
}

footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            height: 40px;
            background: green;
            color: white;
        }
.main{
  background-color: #FFFFFF;
  color: #31FFF9;
  height: 90vh;
  background-image: url(./assets/back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  mix-blend-mode: multiply;
  
}
